<head>

    <title>Aiiqitshors | <%= title %></title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/buttons.css">
    <link rel="stylesheet" href="/nav-footer.css">
  </head>

