<html lang="en">
<%- include("./resources/head.ejs") %>


<body>
  <%- include("./resources/nav.ejs") %>

  <div class="not-found content">
    Ur on a wrong page mate
  </div>

  <%- include("./resources/footer.ejs") %>
</body>
</html>