<html lang="en">
<%- include("./resources/head.ejs") %>


<body>
  <%- include("./resources/nav.ejs") %>

  <div class="about content">
    <h2>About Us</h2>
    <p>Irakli Guraspashvili</p>
    <p>irakli.guraspa@gmail.com</p>
    <p>Tbilisi Georgia</p>
    <p><span>	&nbsp;</span></p>
    <p>Profile:</p>
    <p>I am a newbie software engineer, my childhood dream was to be a jet pilot</p>
    <p>as i grew up i realised that the country I that lived in didn't have much </p>
    <p>potential so I decided to go for my second dream job to be a game developer</p>
    <p>now im learning NodeJs to start working and after that i am planning to learn</p>
    <p>unreal engine</p>
  </div>

  <%- include("./resources/footer.ejs") %>
</body>
</html>
