.submitbutton 
{
  --c:  rgb(186, 35, 35); /* the color*/
  
  box-shadow: 0 0 0 .1em inset var(--c); 
  --_g: linear-gradient(var(--c) 0 0) no-repeat;
  background: 
    var(--_g) calc(var(--_p,0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p,0%)) 0%,
    var(--_g) calc(var(--_p,0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p,0%)) 100%;
  background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
  outline-offset: .1em;
  transition: background-size .4s, background-position 0s .4s;
}
.submitbutton:hover {
  --_p: 100%;
  color: black;
  transition: background-position .4s, background-size 0s;
}
.submitbutton:active {
  box-shadow: 0 0 9e9q inset rgba(22, 12, 12, 0.6); 
  background-color: var(--c);
  color: #000000;
}

.submitbutton {
  font-family: 'Noto Serif', serif;
  cursor: pointer;
  font-weight: bold;  
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  width: 100px;
  border: 0;
}

/* Delete button */


.delete
{
  height: 100%;
  cursor: pointer;
  position: relative;
  bottom: 10%;
  margin-left: 30px;
}

